
@{
    ViewData["Title"] = "Загрузка";
}

<h3>Выберите файлы для загрузки</h3>
<form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input multiple type="file" name="uploadedFile" />
    <input type="submit" value="Загрузить" />
</form>
