
@{
    ViewData["Title"] = "Загрузка";
}
<h3> Загрузка архивов погодных условий в городе Москве</h3>
<br />
<br />
<h4>Выберите файлы для загрузки</h4>
<form class="col-xs-12" method="post" action="LoadTable" enctype="multipart/form-data">

    <div class="form-group">
        <input multiple type="file" class="form-control" name="excel" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary col-xs-12">Загрузить</button>
    </div>
    <br>
    @Html.Raw(TempData["msg"])
    <h4>@ViewBag.Message</h4>
    <br />
</form>
<br />