@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="row">
        <div>
            <h2>Главная страница</h2>
            <ul>
                <li>
                    Данное приложение позволит Вам просмотреть архивы погодных условий в городе Москве. 
                    И при желании загрузить свои данные.
                </li>
            </ul>
        </div>
    </div>

