@page
@model IEnumerable<WeatherApp.Models.Weather>
@{
    ViewData["Title"] = "View";
}
<h2>@ViewData["Title"]</h2>
<h3> Просмотр архивов погодных условий в городе Москве</h3>

<table class="table">
    <tr><td>Имя</td><td>Возраст</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.T</td><td>@item.Date</td></tr>
    }
</table>